.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f3f3f4;
}

.mycard {
  background-color: white;
  padding: 0px;
}

.mycard img {
  border-bottom: 2px solid #4ec697;
}

.mycard img:hover {
  background-color: #282c34;
  transition: 1s;
}

.durationbox {
  width: 40px;
  height: 40px;
  background-color: #51C697;
  position: absolute;
  left: 80%;
  top: 1%;
  font-size: 10px;
  font-weight: bold;
  color: antiquewhite;
}

.durationbox .durationtext {
  padding: 2px;
}

.genrebox {
  font-size: 12px;
  background-color: darkgray;
  width: 70px;
}
