body, .bgStyle {
  background-image: linear-gradient(to right, #c31432, #240b36) !important;
} 

.bgRoot {
  background-color: #f3f4f4;
}

.registerNowBtn {
  background-image: linear-gradient(to bottom, #c31432, #240b36);
}

.loginBtn {
  background-image: linear-gradient(to bottom, #FF0099, #493240);
  width: 100px;
}

.Custnavbar {
  background-image: linear-gradient(to right, #c31432, #240b36) !important;
  color: white !important;
  background-color: transparent !important;
}

.Custnavbar a{
  color: white !important;

}

.mycard {
  width: 15rem;
  height: 36rem;
}

.mycard img {
  height: 385px;
  transition: 0.3s;
}

.mycard h5 {
  height: 50px;
}

.mycard .card-body button {
  background-image: linear-gradient(#c31432, #240b36);
}

.durationbox {
  width: 40px;
  height: 40px;
  background-color: #51C697;
  position: absolute;
  left: 80%;
  top: 1%;
  font-size: 10px;
  font-weight: bold;
  color: antiquewhite;
  padding: 5px;
}

.genrebox {
  font-size: 12px;
  background-color: darkgray;
  width: 70px;
}

.linkReadMore, .LinkLoginBtn {
  cursor: default;
  color: blue;
}

.linkReadMore:hover, .LinkLoginBtn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.hoverAction {
  cursor: default;
}

.customForm {
  height: 420px;
}

.customForm img {
  width: 300px;
}

.iconTrailer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.orderSeat-container {
  height: 700px;
}

.CartStyle {
  margin-bottom: 300px;
}

.cursorSeat, .cursorSeat:hover, .hoverAction:hover{
  cursor: pointer;
}

.seatAlpha {
  display: inline;
  position: absolute;
  padding-top: 5px;
}

.seatAlpha span {
  position: relative;
  left: -70%;
}

.numberSeat {
    position: relative;
    left: 2%;
    margin-right: 2.5rem;
  }


@media (max-width: 992px) {
  .iconSmall {
    font-size: 22px;
  }

  .numberSeat {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .customForm .col-md-6 {
    border-right: 0 !important;
  }

  .iconSmall {
    font-size: 20px;
  }

  .numberSeat {
    margin: 0 7px;
  }
}
