.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f3f3f4;
}

.Custnavbar {
  background-image: linear-gradient(to right, #c31432, #240b36);
  color: white !important;
}

.Custnavbar a{
  color: white !important;

}

.mycard {
  width: 15rem;
  height: 36rem;
}

.mycard img {
  height: 385px;
  transition: 0.3s;
}

.mycard img:hover {
  cursor: pointer;
}

.mycard h5 {
  height: 50px;
}

.mycard .card-body button {
  background-image: linear-gradient(#c31432, #240b36);
}

.durationbox {
  width: 40px;
  height: 40px;
  background-color: #51C697;
  position: absolute;
  left: 80%;
  top: 1%;
  font-size: 10px;
  font-weight: bold;
  color: antiquewhite;
  padding: 5px;
}

.genrebox {
  font-size: 12px;
  background-color: darkgray;
  width: 70px;
}

.linkReadMore {
  cursor: default;
  color: blue;
}

.linkReadMore:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.hoverAction {
  cursor: default;
}

.hoverAction:hover {
  cursor: pointer;
}

.registerForm {
  height: 500px;
}

@media (max-width: 575.98px) {

}

